body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #fffdf8;
}

.topheader {
  background-color: #FADADD;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
  font-size: 28px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.topheader button {
  border: none;
  background: #FFFACD;
  padding: 10px 15px;
  font-weight: bold;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.hellosection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin: 20px;
  padding: 40px;
  background: #AEE1F9;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.GP {
  width: 100%;
  max-width: 500px;
  grid-column: 1 / 2;
  justify-self: center;
}

.innerbox {
  font-size: 50px;
  margin: 20px auto;
  padding: 15px;
  max-width: 500px;
}

.sectionnav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin: 30px 10px;
}

.sectionnav button {
  background: #E3D4F3;
  padding: 10px 100px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 50px;
  padding: 50px 100px;
}

.Food, .House {
  font-weight: bold;
  text-align: center;
  font-size: 40px;
  border-radius: 8px;
  width: 500px;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.Food {
  background: #F6E7D8;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.Food.left {
  background: none;
  border-radius: 0;
  border: none;
  box-shadow: none;
}

.Food.right {
  text-align: center;
  font-size: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.House.left {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.House.left button {
  background: none;
  border: none;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding: 0;
  cursor: pointer;
  color: inherit;
  width: 100%;
  height: 100%;
}

.House.right {
  background: none;
  border-radius: 0;
  box-shadow: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.House.right img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.color1 {
  background: #FFEBE8;
}

.color2 {
  background: #E0F7FA;
}

.color3 {
  background: #FFF9C4;
}

.color4 {
  background: #E1F5E7;
}
a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: black;
  text-decoration: none;
}